_site
.sass-cache
.jekyll-metadata
.jekyll-cache/
.DS_Store
node_modules/
project/
*.map
*.old
t/
ruby-version-old
runOnInitialInstall.sh
public/js/page.js
public/js/page~profile~transcript.js
public/js/profile.js
public/js/transcript.js
public/js/vendors~page~profile~transcript.js
