
.edit-topic-dialog-wrapper,
.addto-maillist-dialog-wrapper {
  position: fixed;
  bottom: 55px;
  left: 50%;
  width: 60%;
}

.edit-topic-dialog,
.addto-maillist-dialog {
  position: relative;
  left: -50%;
}

.hide.edit-topic-dialog-wrapper,
.hide.addto-maillist-dialog-wrapper {
  display: none;
}

form > input.hidden-field {
  display: none;
}

td.edit-topic-item,
td.delete-topic-item,
td.delete-maillist-item,
td.edit-maillist-item {
  cursor: pointer;
}

#maillist-table {
  margin-bottom: 300px;;
}

#topicTable.hide.ui.table,
#action-manager.hide.ui.form,
#sourceTable > tbody > tr.hide {
  display: none;
}

