
.transcript > .center {
  text-align: center;
 }

.lesson-header {
  text-align: center;
  font-style: italic;
  font-weight: 700;
}

.review-lesson {
  font-weight: 700;
}

a.item.__timing::before {
  content: "🕙 ";
}

a.item.__timer::before {
  content: "👤 ";
}
