{% comment %}
usage: {% include form/topic-selection.html %}
{% endcomment %}
<form name="getTopics" id="get-topics-form" class="ui form">
  <div class="fields">
    <div id="source-select" class="four wide field"></div>
    <div class="four wide field">
      <button id="get-topics-submit" class="ui button" type="submit">Get Topics</button>
    </div>
    <!-- <div id="book-select" class="four wide field"></div>
    <div id="unit-select" class="four wide field"></div> -->
  </div>
  <div class="fields">
  </div>
</form>

