<!-- _include/common/masthead.html -->
<div class="cmi-header ui main text container">
  {% if page.masthead == "home" %}
  <h1 id="masthead-title" class="ui centered header">
    {{site.cmiTitle}}<br/>
  </h1>
  {% else %}
  <a title="To Library Card Catalog" href="/">
    <h1 id="masthead-title" class="ui centered header">
      {{site.cmiTitle}}<br/>
    </h1>
  </a>
  {% endif %}

  {% if page.masthead == "home" %}
  <h2 id="source-homepage" class="ui centered header">{{site.title}}</h2>
  {% else %}
  <div id="transcript-header" class="cmi-header-breadcrumb ui big breadcrumb">
    <a id="src-title" title="To {{site.title}} Homepage" href="/" class="section">{{site.title}}</a>
    <span class="divider">/</span>
    <div id="book-title" class="active section">{{page.book}}: {{page.title}}</div>
  </div>
  {% endif %}
</div>
