<!-- _includes/common/transcript-menu.html -->
<div class="ui borderless main menu">
  <div id="transcript-menu" class="ui text container">
    <a href="#" class="bookmark-modal-open ui dropdown item">
      <span data-position="bottom center" data-tooltip="Show Bookmarks">
        <i class="red bookmark icon"></i>
      </span>
    </a>
    {% unless page.search == false %}
    <a href="#" id="search-modal-open" class="item search-modal-open">
      <span data-position="bottom center" data-tooltip="Search {{site.title}}">
        <i class="search icon"></i>
      </span>
    </a>
    {% endunless %}
    <a href="#masthead-title" class="top-of-page item">
      <span data-position="bottom center" data-tooltip="Top of Page">
        <i class="level up icon"></i>
      </span>
    </a>
    {% unless page.restricted-menu %}
    <a href="#" id="contents-modal-open" data-book="{{page.bid | downcase}}" class="item toc-modal-open">
      <span data-position="bottom center" data-tooltip="Show Contents">
        <i class="align justify icon"></i>
      </span>
    </a>
    <a id="previous-page-menu-item" href="#" class="item">
      <span data-position="bottom center" data-tooltip="Previous Page">
        <i class="arrow circle left icon"></i>
      </span>
    </a>
    <a id="next-page-menu-item" href="#" class="item">
      <span data-position="bottom center" data-tooltip="Next Page">
        <i class="arrow circle right icon"></i>
      </span>
    </a>
    {% endunless %}
    {% include common/quick-link-menu.html name="www" %}
    <a id="about-dropdown-menu" href="#" class="ui dropdown item">
      <i class="question icon"></i>
      <div id="help-menu" class="menu">
        <div class="transcript-tour item">Tour the Page</div>
        <div class="read-documentation item">Read Documentation</div>
        <div class="view-documentation item">Watch Video Instruction</div>
        <div class="hide profile-management item">User Profile</div>
      </div>
    </a>
    <a href="#" class="login-menu-option ui right floated item">
      <span data-position="bottom center" data-tooltip="Sign In">
        <i class="red sign in icon"></i>
      </span>
    </a>
  </div>
</div>
