<div class="hide addto-maillist-dialog-wrapper">
  <div class="addto-maillist-dialog ui raised padded green segment">
    <form name="addtomaillist" id="addto-maillist-form" class="ui form">
      <div class="three fields">
        <div class="field">
          <label>First Name</label>
          <input type="text" name="first" required placeholder="First Name">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input type="text" name="last" placeholder="Last Name">
        </div>
        <div class="field">
          <label>Email Address</label>
          <input type="email" name="address" required placeholder="Middle Name">
        </div>
      </div>
      <div class="fields">
        <button id="add-or-update" class="ui button" type="submit">Add</button>
        <button class="addto-maillist-cancel ui button">Cancel</button>
      </div>
    </form>
  </div>
</div>